* {
    font-family: "Comic Sans MS";
    text-align: center;
}

.card-holder {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: inline-block;
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    margin: 2px;
    cursor: pointer;
    width: 150px;
}

.card img {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.card div {
    font-size: 18px;
}

ul {
    display: inline-block;
    text-align: left;
    font-size: 30px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul {
    font-size: 16px;
}

nav li {
    display: inline-block;
    padding: 10px;
}